@import url("responsive.css");

body {
    background-color: white;
    color: aliceblue;

    background-repeat: no-repeat;
    background-size: cover;

}

ul > li {
  font-size:calc(0.9vw + 0.9vh);
}


h1{
  color:aliceblue;
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
}

.recipeForm{
  opacity: 0.9;
}

.recipe-container {
  border: 2px solid #000;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  opacity: 0.9;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
  }

  #recipe-list{
    color: #248f24;
    font-size: larger;
    display: block;
  }


  .logo{
    padding-left: 10px;
    width: 50px;
    height: 4%;
  }
  
        
  li{float: left;}
        
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:larger;
  }
        
        li a:hover:not(.active) {
          background-color: #248f24;
        }
        
  .active {
    background-color: #248f24;
    color: white;
  }

footer{
  display: block;
  width: 100%;
  height: 60px;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position:absolute;
  bottom: 0;
  left: 0;
}

.container {
  box-sizing: border-box;
  margin: auto;
  width: 75%;
  padding: 12px;
  background-color: #333;
}

.container > img {
  width: 15vw;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.recipeNav{
  color:aliceblue;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; 
  justify-content: center;
  background-color: #333;
}

.recipeNav > li {
  margin: 0 10px; 
}

.recipeNav > li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: larger;
  padding-top: 10px;
}

.recipeNav > li .active {
  background-color: #248f24;
}

.container > ul > li {
  border-style:groove;
}