@import url("responsive.css");

body {
    background-color: white;
    color: aliceblue;
    background-image: url('../pics/fruitGreen.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

ul > li {
  font-size:calc(0.9vw + 0.9vh);
}

h1:not(#recipeFormText){
  color:#333;
  text-align: center;
}

.recipeForm{
  opacity: 0.9;
}

.recipe-container {
  border: 2px solid #000;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  opacity: 0.9;
}
.recipe-title {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 10px;
}
.recipe-ingredients {
  margin-left: 20px;
}

.recipe-ingredients li{
  margin-bottom: 15px;
  background-color: #ddd;
}

.recipe-instructions {
  margin-top: 10px;
}

#recipeFormText{
  text-align: center;
}

ul:not(#recipe-list) {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
  }

  #recipe-list{
    color: #248f24;
    font-size: larger;
    display: block;
  }


  .logo{
    padding-left: 10px;
    width: 50px;
    height: 4%;
  }
  
        
  li {float: left;}
        
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:larger;
  }
        
        li a:hover:not(.active) {
          background-color: #248f24;
        }
        
  .active {
    background-color: #248f24;
    color: white;
  }

footer{
  display: block;
  width: 100%;
  height: 60px;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

.container {
  box-sizing: border-box;
  margin: auto;
  width: 75%;
  padding: 12px;
  background-color: #333;
}

.container > img {
  width: 15vw;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* Full-width input fields */
select{
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: beige;
}

select:focus{
  box-sizing: border-box;
  width: 100%;
  background-color: #ddd;
  outline: none;
}

  /* Set a style for the submit button */
  .registerbtn {
      box-sizing: border-box;
      width: 95%;
      background-color: #248f24;
      color: white;
      padding: 16px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      opacity: 0.9;
    }
    
    .registerbtn:hover {
      box-sizing: border-box;
      width: 100%;
      opacity: 1;
    }